<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
                        <!--meta name="viewport" content="width=device-width, initial-scale=1">
                        <meta name="theme-color" content="#157878">
                        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/more">More</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zampl@gamlyn.com">email</a></li>
	        		<li><a href="https://github.com/zampl">github.com/Zampl</a></li>
				</ul>
			</footer>
		</body>
	</html>
